body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
    margin: auto;
    box-sizing: border-box;
}

article {
    display: flex;
    flex-direction: row;
}

header, footer {
    padding: 2rem;
    margin: 0;
    background: #666;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
      text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin: 0;
    margin-left: 2rem;
    font-size: 2rem;
    max-width: 100%;
}

#cougar {
    background: #b26219;
}

#lion {
    background: #ffd5ae;
}

#tiger {
    background: #ffbd82;
}

.photo {
    display: flex;
    margin: 5rem 0rem 0rem 5rem;
    flex-direction: column;
    align-items: center;
    color: #000;
    max-width: 100%;
    height: auto;
}

.text {
    color: #000;
    margin: 1rem 5rem 5rem;
    font-size: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

img {
    max-width: 100%; /* DO NOT delete or change this line */
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
    text-decoration: none;
}
a:hover {
    color: #82E8FF;
}
